.body{
    background-color: gray;
    text-align: center;
    background-image: url(background.png);
    background-size: cover;
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: whitesmoke;
}