.body{
background-image: url(background.png);
background-size: cover;
background-repeat: no-repeat;
}
.header{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: whitesmoke;
}