.body {
    background-color: lightslategray;
    background-image:url(school.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: whitesmoke;
}

.name {
    font-style: inherit;
}

h1 {
    font-style: inherit;
    justify-content: center;
    display: flex;
}

h3 {
    font-style: oblique;
    justify-content: center;
    display: flex;
}
.list{
list-style-type: none;
}
.name{
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}